{% extends "admin/base.html" %}

{% block title %}Bear templates{% endblock %}

{% block admin_content %}
<h3>Bear templates</h3>
<p>Reusable system prompts and defaults. Create a bear from a template on <a href="/admin/bears/new">New bear</a>.</p>
<table>
  <thead>
    <tr><th>Slug</th><th>Name</th><th>Updated</th></tr>
  </thead>
  <tbody>
  {% for t in templates %}
    <tr>
      <td><code>{{ t.slug }}</code></td>
      <td>{{ t.name }}</td>
      <td>{{ t.updated_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<p><a class="action" href="./add">Add template</a></p>
{% endblock %}
