{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<section class="two-columns">
<div>
    <div class="box full-width">
        <dl class="fields-grid">
            <dt>Username</dt>
            <dd>{{ username }}</dd>
            {% if invite_count %}
                <dt>Invites left</dt>
                <dd>{{ invite_count }}</dd>
            {% endif %}
        </dl>
        <ul class="button-row">
            <li><a class="button-link" href="/account">Account details</a></li>
        </ul>
    </div>

    <div class="box full-width">
        <dl class="fields-grid">
            <dt>Email</dt>
            <dd>{{ email }} — {% if email_verified %}<span class="success">Verified</span>{% else %}<span class="warning">Not verified</span>{% endif %}</dd>
        </dl>
        <ul class="button-row">
            {% if not email_verified %}
                <li><a class="button-link" href="/settings/email/verify">Verify email</a></li>
            {% endif %}
            <li><a class="button-link" href="/settings/email/edit">Change email</a></li>
        </ul>
    </div>
</div>

<div class="box">
    <dl class="fields-grid">
        <dt>Display name</dt>
        <dd>{{ display_name }}</dd>
        <dt>Theme</dt>
        <dd>{{ theme_descriptions[theme] }}</dd>
        <dt>Week starts on</dt>
        <dd>{{ day_of_week_names[week_start_day] }}</dd>
    </dl>
    <ul class="button-row">
        <li><a class="button-link" href="/settings/edit">Change settings</a></li>
    </ul>
</div>
</section>
{% endblock %}
