{% extends "admin/base.html" %}
{% import "forms.jinja" as forms %}

{% block title %}Change password for {{ target.username }}{% endblock %}

{% block admin_content %}
{% if password_changed %}
<p class="form-message" role="status">Password changed for {{ target.username }}. Other web sessions for this account will need to sign in again.</p>
{% endif %}
{% if form is defined and form.errors %}
<p class="form-errors" role="alert">Password was not changed. Check the fields below and enter both passwords again.</p>
{% endif %}
<div class="box">
<form method="post">
  <div class="fields-grid">
    {{ forms.input("password", "New password", "password", 'autocomplete="new-password" required minlength="8"', form, hint="At least 8 characters") }}
    {{ forms.input("password_check", "Confirm new password", "password", 'autocomplete="new-password" required minlength="8"', form, hint="Must match the new password") }}
  </div>
  <ul class="button-row">
    <li><button type="submit">Change password</button></li>
    <li><a href="/admin/users/{{ id }}">Return to user</a></li>
  </ul>
</form>
</div>
{% endblock %}
