{% extends "base.html" %}
{% import "forms.jinja" as forms %}

{% block breadcrumb %}<a href="/settings">Settings</a> > <a href="/account">Account</a> > {% endblock %}
{% block title %}Change password{% endblock %}

{% block content %}
{% if form is defined and form.errors %}
<p class="form-errors" role="alert">Password was not changed. Check the fields below and enter both passwords again.</p>
{% endif %}
<div class="box">
<form method="post">
  <div class="fields-grid">
    {{ forms.input("password", "New password", "password", 'autocomplete="new-password" required minlength="8"', form, hint="At least 8 characters") }}
    {{ forms.input("password_check", "Confirm new password", "password", 'autocomplete="new-password" required minlength="8"', form, hint="Must match the new password") }}
  </div>
  <ul class="button-row">
    <li><button type="submit">Change password</button></li>
    <li><a href="/account">Cancel</a></li>
  </ul>
</form>
</div>
{% endblock %}
